// colors
$accent: #54e6af;
$accent-hover: #b3ffe2;
$white: #ffffff;
$blue-black: #121725;
$dark-grey: #2c344b;
$medium-grey: #5a668a;
$light-grey: #c2cbe5;
$warning: #fb3e3e;

// font-weights
$light: 300;
$bold: 700;
$black: 900;
