@import "../abstracts/mixins";

.page {
  height: 100vh;
  // border: 1px solid blue;
  display: flex;
  align-items: center;

  @include respond(tablet) {
    margin: 0;
    background-image: url("../assets/tablet/image-host.jpg");
    background-repeat: no-repeat;
    background-position: top right;
  }

  @include respond(mobile) {
    background-image: url("../assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.container {
  margin: 0 0 0 25rem;
  position: relative;
  // border: 1px solid red;
  height: 78%;
  width: 100%;
  background-image: url("../assets/desktop/image-host.jpg");
  background-repeat: no-repeat;
  background-position: center right;

  @include respond(tablet) {
    height: 100vh;
    padding-left: 5rem;
    margin: 0;
    background-image: none;
  }

  @include respond(mobile) {
    background: rgba(18, 23, 37, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.dots {
  position: absolute;
  bottom: -4rem;
  right: 0;

  @include respond(tablet) {
    left: 4rem;
    bottom: 0;
  }

  @include respond(mobile) {
    display: none;
  }
}
